@import "~assets/scss/_variable";

// font
.lato {
  font-family: $lato;
  font-weight: normal;
}
.lato-bold {
  font-family: $lato;
  font-weight: bold;
}
.lato-italic {
  font-family: $lato;
  font-style: italic;
}

//   Font Size
.font-12 {
  font-size: 0.75rem;
}
.font-14 {
  font-size: 0.875rem;
}
.font-16 {
  font-size: 1rem;
}
.font-18 {
  font-size: 1.125rem;
}
.font-20 {
  font-size: 1.25rem;
}
.font-22 {
  font-size: 1.375rem;
}
.font-24 {
  font-size: 1.5rem;
}
.font-26 {
  font-size: 1.625rem;
}
.font-28 {
  font-size: 1.75rem;
}
.font-30 {
  font-size: 1.875rem;
}
body {
  font-family: $lato;
  font-size: 1rem;
}

// common css
.for-desk {
  display: block;
}
.for-mob {
  display: none;
}
.bg-lightblue{
  background-color: $secondary;
}
.main-heading {
  font-size: 28px;
  font-weight: bold;
}
.sub-heading {
  font-size: 18px;
  font-weight: bold;
}
.head-border {
  border-bottom: 3px solid $primary;
} 
.relative{
  position: relative;
}

// for mobile
@media only screen and (max-width: 767px) {
  .for-desk {
    display: none;
  }
  .for-mob {
    display: block;
  }
  .main-heading {
    font-size: 22px;
  }
  .sub-heading {
    font-size: 16px;
  }
}

// for ipad pro
@media only screen and (min-device-width: 991px) and (max-device-width: 1200px) {
}

// for ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
}
